<?xml version="1.0"?>
<robot name="ring">
  <link name="base_link">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0.0" />
      <geometry>
        <mesh filename="_ring_48.obj" scale="0.2 0.2 0.2"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0.0" />
      <geometry>
        <mesh filename="_ring_48.obj" scale="0.2 0.2 0.2"/>
      </geometry>
    </collision>
  </link>

  <link name="1">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0.1308996938995747" />
      <geometry>
        <mesh filename="_ring_48.obj" scale="0.2 0.2 0.2"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0.1308996938995747" />
      <geometry>
        <mesh filename="_ring_48.obj" scale="0.2 0.2 0.2"/>
      </geometry>
    </collision>
  </link>

  <joint name="1" type="fixed">
    <parent link="base_link"/>
    <child link="1"/>
    <origin xyz="0 0 0"/>
  </joint>

  <link name="2">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0.2617993877991494" />
      <geometry>
        <mesh filename="_ring_48.obj" scale="0.2 0.2 0.2"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0.2617993877991494" />
      <geometry>
        <mesh filename="_ring_48.obj" scale="0.2 0.2 0.2"/>
      </geometry>
    </collision>
  </link>

  <joint name="2" type="fixed">
    <parent link="base_link"/>
    <child link="2"/>
    <origin xyz="0 0 0"/>
  </joint>

  <link name="3">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0.39269908169872414" />
      <geometry>
        <mesh filename="_ring_48.obj" scale="0.2 0.2 0.2"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0.39269908169872414" />
      <geometry>
        <mesh filename="_ring_48.obj" scale="0.2 0.2 0.2"/>
      </geometry>
    </collision>
  </link>

  <joint name="3" type="fixed">
    <parent link="base_link"/>
    <child link="3"/>
    <origin xyz="0 0 0"/>
  </joint>

  <link name="4">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0.5235987755982988" />
      <geometry>
        <mesh filename="_ring_48.obj" scale="0.2 0.2 0.2"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0.5235987755982988" />
      <geometry>
        <mesh filename="_ring_48.obj" scale="0.2 0.2 0.2"/>
      </geometry>
    </collision>
  </link>

  <joint name="4" type="fixed">
    <parent link="base_link"/>
    <child link="4"/>
    <origin xyz="0 0 0"/>
  </joint>

  <link name="5">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0.6544984694978735" />
      <geometry>
        <mesh filename="_ring_48.obj" scale="0.2 0.2 0.2"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0.6544984694978735" />
      <geometry>
        <mesh filename="_ring_48.obj" scale="0.2 0.2 0.2"/>
      </geometry>
    </collision>
  </link>

  <joint name="5" type="fixed">
    <parent link="base_link"/>
    <child link="5"/>
    <origin xyz="0 0 0"/>
  </joint>

  <link name="6">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0.7853981633974483" />
      <geometry>
        <mesh filename="_ring_48.obj" scale="0.2 0.2 0.2"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0.7853981633974483" />
      <geometry>
        <mesh filename="_ring_48.obj" scale="0.2 0.2 0.2"/>
      </geometry>
    </collision>
  </link>

  <joint name="6" type="fixed">
    <parent link="base_link"/>
    <child link="6"/>
    <origin xyz="0 0 0"/>
  </joint>

  <link name="7">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0.916297857297023" />
      <geometry>
        <mesh filename="_ring_48.obj" scale="0.2 0.2 0.2"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0.916297857297023" />
      <geometry>
        <mesh filename="_ring_48.obj" scale="0.2 0.2 0.2"/>
      </geometry>
    </collision>
  </link>

  <joint name="7" type="fixed">
    <parent link="base_link"/>
    <child link="7"/>
    <origin xyz="0 0 0"/>
  </joint>

  <link name="8">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 1.0471975511965976" />
      <geometry>
        <mesh filename="_ring_48.obj" scale="0.2 0.2 0.2"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 1.0471975511965976" />
      <geometry>
        <mesh filename="_ring_48.obj" scale="0.2 0.2 0.2"/>
      </geometry>
    </collision>
  </link>

  <joint name="8" type="fixed">
    <parent link="base_link"/>
    <child link="8"/>
    <origin xyz="0 0 0"/>
  </joint>

  <link name="9">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 1.1780972450961724" />
      <geometry>
        <mesh filename="_ring_48.obj" scale="0.2 0.2 0.2"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 1.1780972450961724" />
      <geometry>
        <mesh filename="_ring_48.obj" scale="0.2 0.2 0.2"/>
      </geometry>
    </collision>
  </link>

  <joint name="9" type="fixed">
    <parent link="base_link"/>
    <child link="9"/>
    <origin xyz="0 0 0"/>
  </joint>

  <link name="10">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 1.308996938995747" />
      <geometry>
        <mesh filename="_ring_48.obj" scale="0.2 0.2 0.2"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 1.308996938995747" />
      <geometry>
        <mesh filename="_ring_48.obj" scale="0.2 0.2 0.2"/>
      </geometry>
    </collision>
  </link>

  <joint name="10" type="fixed">
    <parent link="base_link"/>
    <child link="10"/>
    <origin xyz="0 0 0"/>
  </joint>

  <link name="11">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 1.4398966328953218" />
      <geometry>
        <mesh filename="_ring_48.obj" scale="0.2 0.2 0.2"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 1.4398966328953218" />
      <geometry>
        <mesh filename="_ring_48.obj" scale="0.2 0.2 0.2"/>
      </geometry>
    </collision>
  </link>

  <joint name="11" type="fixed">
    <parent link="base_link"/>
    <child link="11"/>
    <origin xyz="0 0 0"/>
  </joint>

  <link name="12">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 1.5707963267948966" />
      <geometry>
        <mesh filename="_ring_48.obj" scale="0.2 0.2 0.2"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 1.5707963267948966" />
      <geometry>
        <mesh filename="_ring_48.obj" scale="0.2 0.2 0.2"/>
      </geometry>
    </collision>
  </link>

  <joint name="12" type="fixed">
    <parent link="base_link"/>
    <child link="12"/>
    <origin xyz="0 0 0"/>
  </joint>

  <link name="13">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 1.7016960206944711" />
      <geometry>
        <mesh filename="_ring_48.obj" scale="0.2 0.2 0.2"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 1.7016960206944711" />
      <geometry>
        <mesh filename="_ring_48.obj" scale="0.2 0.2 0.2"/>
      </geometry>
    </collision>
  </link>

  <joint name="13" type="fixed">
    <parent link="base_link"/>
    <child link="13"/>
    <origin xyz="0 0 0"/>
  </joint>

  <link name="14">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 1.832595714594046" />
      <geometry>
        <mesh filename="_ring_48.obj" scale="0.2 0.2 0.2"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 1.832595714594046" />
      <geometry>
        <mesh filename="_ring_48.obj" scale="0.2 0.2 0.2"/>
      </geometry>
    </collision>
  </link>

  <joint name="14" type="fixed">
    <parent link="base_link"/>
    <child link="14"/>
    <origin xyz="0 0 0"/>
  </joint>

  <link name="15">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 1.9634954084936205" />
      <geometry>
        <mesh filename="_ring_48.obj" scale="0.2 0.2 0.2"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 1.9634954084936205" />
      <geometry>
        <mesh filename="_ring_48.obj" scale="0.2 0.2 0.2"/>
      </geometry>
    </collision>
  </link>

  <joint name="15" type="fixed">
    <parent link="base_link"/>
    <child link="15"/>
    <origin xyz="0 0 0"/>
  </joint>

  <link name="16">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 2.0943951023931953" />
      <geometry>
        <mesh filename="_ring_48.obj" scale="0.2 0.2 0.2"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 2.0943951023931953" />
      <geometry>
        <mesh filename="_ring_48.obj" scale="0.2 0.2 0.2"/>
      </geometry>
    </collision>
  </link>

  <joint name="16" type="fixed">
    <parent link="base_link"/>
    <child link="16"/>
    <origin xyz="0 0 0"/>
  </joint>

  <link name="17">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 2.22529479629277" />
      <geometry>
        <mesh filename="_ring_48.obj" scale="0.2 0.2 0.2"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 2.22529479629277" />
      <geometry>
        <mesh filename="_ring_48.obj" scale="0.2 0.2 0.2"/>
      </geometry>
    </collision>
  </link>

  <joint name="17" type="fixed">
    <parent link="base_link"/>
    <child link="17"/>
    <origin xyz="0 0 0"/>
  </joint>

  <link name="18">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 2.356194490192345" />
      <geometry>
        <mesh filename="_ring_48.obj" scale="0.2 0.2 0.2"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 2.356194490192345" />
      <geometry>
        <mesh filename="_ring_48.obj" scale="0.2 0.2 0.2"/>
      </geometry>
    </collision>
  </link>

  <joint name="18" type="fixed">
    <parent link="base_link"/>
    <child link="18"/>
    <origin xyz="0 0 0"/>
  </joint>

  <link name="19">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 2.4870941840919194" />
      <geometry>
        <mesh filename="_ring_48.obj" scale="0.2 0.2 0.2"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 2.4870941840919194" />
      <geometry>
        <mesh filename="_ring_48.obj" scale="0.2 0.2 0.2"/>
      </geometry>
    </collision>
  </link>

  <joint name="19" type="fixed">
    <parent link="base_link"/>
    <child link="19"/>
    <origin xyz="0 0 0"/>
  </joint>

  <link name="20">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 2.617993877991494" />
      <geometry>
        <mesh filename="_ring_48.obj" scale="0.2 0.2 0.2"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 2.617993877991494" />
      <geometry>
        <mesh filename="_ring_48.obj" scale="0.2 0.2 0.2"/>
      </geometry>
    </collision>
  </link>

  <joint name="20" type="fixed">
    <parent link="base_link"/>
    <child link="20"/>
    <origin xyz="0 0 0"/>
  </joint>

  <link name="21">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 2.748893571891069" />
      <geometry>
        <mesh filename="_ring_48.obj" scale="0.2 0.2 0.2"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 2.748893571891069" />
      <geometry>
        <mesh filename="_ring_48.obj" scale="0.2 0.2 0.2"/>
      </geometry>
    </collision>
  </link>

  <joint name="21" type="fixed">
    <parent link="base_link"/>
    <child link="21"/>
    <origin xyz="0 0 0"/>
  </joint>

  <link name="22">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 2.8797932657906435" />
      <geometry>
        <mesh filename="_ring_48.obj" scale="0.2 0.2 0.2"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 2.8797932657906435" />
      <geometry>
        <mesh filename="_ring_48.obj" scale="0.2 0.2 0.2"/>
      </geometry>
    </collision>
  </link>

  <joint name="22" type="fixed">
    <parent link="base_link"/>
    <child link="22"/>
    <origin xyz="0 0 0"/>
  </joint>

  <link name="23">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 3.010692959690218" />
      <geometry>
        <mesh filename="_ring_48.obj" scale="0.2 0.2 0.2"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 3.010692959690218" />
      <geometry>
        <mesh filename="_ring_48.obj" scale="0.2 0.2 0.2"/>
      </geometry>
    </collision>
  </link>

  <joint name="23" type="fixed">
    <parent link="base_link"/>
    <child link="23"/>
    <origin xyz="0 0 0"/>
  </joint>

  <link name="24">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 3.141592653589793" />
      <geometry>
        <mesh filename="_ring_48.obj" scale="0.2 0.2 0.2"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 3.141592653589793" />
      <geometry>
        <mesh filename="_ring_48.obj" scale="0.2 0.2 0.2"/>
      </geometry>
    </collision>
  </link>

  <joint name="24" type="fixed">
    <parent link="base_link"/>
    <child link="24"/>
    <origin xyz="0 0 0"/>
  </joint>

  <link name="25">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 3.2724923474893677" />
      <geometry>
        <mesh filename="_ring_48.obj" scale="0.2 0.2 0.2"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 3.2724923474893677" />
      <geometry>
        <mesh filename="_ring_48.obj" scale="0.2 0.2 0.2"/>
      </geometry>
    </collision>
  </link>

  <joint name="25" type="fixed">
    <parent link="base_link"/>
    <child link="25"/>
    <origin xyz="0 0 0"/>
  </joint>

  <link name="26">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 3.4033920413889422" />
      <geometry>
        <mesh filename="_ring_48.obj" scale="0.2 0.2 0.2"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 3.4033920413889422" />
      <geometry>
        <mesh filename="_ring_48.obj" scale="0.2 0.2 0.2"/>
      </geometry>
    </collision>
  </link>

  <joint name="26" type="fixed">
    <parent link="base_link"/>
    <child link="26"/>
    <origin xyz="0 0 0"/>
  </joint>

  <link name="27">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 3.534291735288517" />
      <geometry>
        <mesh filename="_ring_48.obj" scale="0.2 0.2 0.2"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 3.534291735288517" />
      <geometry>
        <mesh filename="_ring_48.obj" scale="0.2 0.2 0.2"/>
      </geometry>
    </collision>
  </link>

  <joint name="27" type="fixed">
    <parent link="base_link"/>
    <child link="27"/>
    <origin xyz="0 0 0"/>
  </joint>

  <link name="28">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 3.665191429188092" />
      <geometry>
        <mesh filename="_ring_48.obj" scale="0.2 0.2 0.2"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 3.665191429188092" />
      <geometry>
        <mesh filename="_ring_48.obj" scale="0.2 0.2 0.2"/>
      </geometry>
    </collision>
  </link>

  <joint name="28" type="fixed">
    <parent link="base_link"/>
    <child link="28"/>
    <origin xyz="0 0 0"/>
  </joint>

  <link name="29">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 3.7960911230876664" />
      <geometry>
        <mesh filename="_ring_48.obj" scale="0.2 0.2 0.2"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 3.7960911230876664" />
      <geometry>
        <mesh filename="_ring_48.obj" scale="0.2 0.2 0.2"/>
      </geometry>
    </collision>
  </link>

  <joint name="29" type="fixed">
    <parent link="base_link"/>
    <child link="29"/>
    <origin xyz="0 0 0"/>
  </joint>

  <link name="30">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 3.926990816987241" />
      <geometry>
        <mesh filename="_ring_48.obj" scale="0.2 0.2 0.2"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 3.926990816987241" />
      <geometry>
        <mesh filename="_ring_48.obj" scale="0.2 0.2 0.2"/>
      </geometry>
    </collision>
  </link>

  <joint name="30" type="fixed">
    <parent link="base_link"/>
    <child link="30"/>
    <origin xyz="0 0 0"/>
  </joint>

  <link name="31">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 4.057890510886816" />
      <geometry>
        <mesh filename="_ring_48.obj" scale="0.2 0.2 0.2"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 4.057890510886816" />
      <geometry>
        <mesh filename="_ring_48.obj" scale="0.2 0.2 0.2"/>
      </geometry>
    </collision>
  </link>

  <joint name="31" type="fixed">
    <parent link="base_link"/>
    <child link="31"/>
    <origin xyz="0 0 0"/>
  </joint>

  <link name="32">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 4.1887902047863905" />
      <geometry>
        <mesh filename="_ring_48.obj" scale="0.2 0.2 0.2"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 4.1887902047863905" />
      <geometry>
        <mesh filename="_ring_48.obj" scale="0.2 0.2 0.2"/>
      </geometry>
    </collision>
  </link>

  <joint name="32" type="fixed">
    <parent link="base_link"/>
    <child link="32"/>
    <origin xyz="0 0 0"/>
  </joint>

  <link name="33">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 4.319689898685965" />
      <geometry>
        <mesh filename="_ring_48.obj" scale="0.2 0.2 0.2"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 4.319689898685965" />
      <geometry>
        <mesh filename="_ring_48.obj" scale="0.2 0.2 0.2"/>
      </geometry>
    </collision>
  </link>

  <joint name="33" type="fixed">
    <parent link="base_link"/>
    <child link="33"/>
    <origin xyz="0 0 0"/>
  </joint>

  <link name="34">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 4.45058959258554" />
      <geometry>
        <mesh filename="_ring_48.obj" scale="0.2 0.2 0.2"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 4.45058959258554" />
      <geometry>
        <mesh filename="_ring_48.obj" scale="0.2 0.2 0.2"/>
      </geometry>
    </collision>
  </link>

  <joint name="34" type="fixed">
    <parent link="base_link"/>
    <child link="34"/>
    <origin xyz="0 0 0"/>
  </joint>

  <link name="35">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 4.581489286485114" />
      <geometry>
        <mesh filename="_ring_48.obj" scale="0.2 0.2 0.2"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 4.581489286485114" />
      <geometry>
        <mesh filename="_ring_48.obj" scale="0.2 0.2 0.2"/>
      </geometry>
    </collision>
  </link>

  <joint name="35" type="fixed">
    <parent link="base_link"/>
    <child link="35"/>
    <origin xyz="0 0 0"/>
  </joint>

  <link name="36">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 4.71238898038469" />
      <geometry>
        <mesh filename="_ring_48.obj" scale="0.2 0.2 0.2"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 4.71238898038469" />
      <geometry>
        <mesh filename="_ring_48.obj" scale="0.2 0.2 0.2"/>
      </geometry>
    </collision>
  </link>

  <joint name="36" type="fixed">
    <parent link="base_link"/>
    <child link="36"/>
    <origin xyz="0 0 0"/>
  </joint>

  <link name="37">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 4.843288674284264" />
      <geometry>
        <mesh filename="_ring_48.obj" scale="0.2 0.2 0.2"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 4.843288674284264" />
      <geometry>
        <mesh filename="_ring_48.obj" scale="0.2 0.2 0.2"/>
      </geometry>
    </collision>
  </link>

  <joint name="37" type="fixed">
    <parent link="base_link"/>
    <child link="37"/>
    <origin xyz="0 0 0"/>
  </joint>

  <link name="38">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 4.974188368183839" />
      <geometry>
        <mesh filename="_ring_48.obj" scale="0.2 0.2 0.2"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 4.974188368183839" />
      <geometry>
        <mesh filename="_ring_48.obj" scale="0.2 0.2 0.2"/>
      </geometry>
    </collision>
  </link>

  <joint name="38" type="fixed">
    <parent link="base_link"/>
    <child link="38"/>
    <origin xyz="0 0 0"/>
  </joint>

  <link name="39">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 5.105088062083413" />
      <geometry>
        <mesh filename="_ring_48.obj" scale="0.2 0.2 0.2"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 5.105088062083413" />
      <geometry>
        <mesh filename="_ring_48.obj" scale="0.2 0.2 0.2"/>
      </geometry>
    </collision>
  </link>

  <joint name="39" type="fixed">
    <parent link="base_link"/>
    <child link="39"/>
    <origin xyz="0 0 0"/>
  </joint>

  <link name="40">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 5.235987755982988" />
      <geometry>
        <mesh filename="_ring_48.obj" scale="0.2 0.2 0.2"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 5.235987755982988" />
      <geometry>
        <mesh filename="_ring_48.obj" scale="0.2 0.2 0.2"/>
      </geometry>
    </collision>
  </link>

  <joint name="40" type="fixed">
    <parent link="base_link"/>
    <child link="40"/>
    <origin xyz="0 0 0"/>
  </joint>

  <link name="41">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 5.3668874498825625" />
      <geometry>
        <mesh filename="_ring_48.obj" scale="0.2 0.2 0.2"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 5.3668874498825625" />
      <geometry>
        <mesh filename="_ring_48.obj" scale="0.2 0.2 0.2"/>
      </geometry>
    </collision>
  </link>

  <joint name="41" type="fixed">
    <parent link="base_link"/>
    <child link="41"/>
    <origin xyz="0 0 0"/>
  </joint>

  <link name="42">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 5.497787143782138" />
      <geometry>
        <mesh filename="_ring_48.obj" scale="0.2 0.2 0.2"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 5.497787143782138" />
      <geometry>
        <mesh filename="_ring_48.obj" scale="0.2 0.2 0.2"/>
      </geometry>
    </collision>
  </link>

  <joint name="42" type="fixed">
    <parent link="base_link"/>
    <child link="42"/>
    <origin xyz="0 0 0"/>
  </joint>

  <link name="43">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 5.6286868376817125" />
      <geometry>
        <mesh filename="_ring_48.obj" scale="0.2 0.2 0.2"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 5.6286868376817125" />
      <geometry>
        <mesh filename="_ring_48.obj" scale="0.2 0.2 0.2"/>
      </geometry>
    </collision>
  </link>

  <joint name="43" type="fixed">
    <parent link="base_link"/>
    <child link="43"/>
    <origin xyz="0 0 0"/>
  </joint>

  <link name="44">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 5.759586531581287" />
      <geometry>
        <mesh filename="_ring_48.obj" scale="0.2 0.2 0.2"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 5.759586531581287" />
      <geometry>
        <mesh filename="_ring_48.obj" scale="0.2 0.2 0.2"/>
      </geometry>
    </collision>
  </link>

  <joint name="44" type="fixed">
    <parent link="base_link"/>
    <child link="44"/>
    <origin xyz="0 0 0"/>
  </joint>

  <link name="45">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 5.890486225480862" />
      <geometry>
        <mesh filename="_ring_48.obj" scale="0.2 0.2 0.2"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 5.890486225480862" />
      <geometry>
        <mesh filename="_ring_48.obj" scale="0.2 0.2 0.2"/>
      </geometry>
    </collision>
  </link>

  <joint name="45" type="fixed">
    <parent link="base_link"/>
    <child link="45"/>
    <origin xyz="0 0 0"/>
  </joint>

  <link name="46">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 6.021385919380436" />
      <geometry>
        <mesh filename="_ring_48.obj" scale="0.2 0.2 0.2"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 6.021385919380436" />
      <geometry>
        <mesh filename="_ring_48.obj" scale="0.2 0.2 0.2"/>
      </geometry>
    </collision>
  </link>

  <joint name="46" type="fixed">
    <parent link="base_link"/>
    <child link="46"/>
    <origin xyz="0 0 0"/>
  </joint>

  <link name="47">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 6.152285613280011" />
      <geometry>
        <mesh filename="_ring_48.obj" scale="0.2 0.2 0.2"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 6.152285613280011" />
      <geometry>
        <mesh filename="_ring_48.obj" scale="0.2 0.2 0.2"/>
      </geometry>
    </collision>
  </link>

  <joint name="47" type="fixed">
    <parent link="base_link"/>
    <child link="47"/>
    <origin xyz="0 0 0"/>
  </joint>

</robot>